<% if object.errors.any? %>
  <div class="notification is-danger">
    <p><strong><%= pluralize(object.errors.count, "error") %> impide(n) guardar los cambios:</strong></p>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
