<div id="<%= dom_id job_offer %>" class="box">
  <p class="title is-4">
    <strong>Cargo buscado:</strong>
    <span class="has-text-weight-normal"><%= job_offer.title %></span>
  </p>

  <div class="content">
    <p class="title is-6">
      <strong>Descripción del Cargo:</strong>
      <span class="has-text-weight-normal"><%= job_offer.description %></span>
    </p>
  </div>
</div>

