<% content_for :title, "Ofertas de Trabajo" %>

<section class="section">
  <div class="container">
    <h1 class="title is-3">Ofertas de Trabajo</h1>

    <div id="job_offers" class="columns is-multiline">
      <% @job_offers.each do |job_offer| %>
        <div class="column is-one-third">
          <div class="box" style="height: 350px; display: flex; flex-direction: column; justify-content: space-between;">
            <div>
              <p class="title is-5">
                <%= job_offer.title %>
              </p>

              <p class="has-text-grey">
                <%= truncate(job_offer.description, length: 200, separator: ' ') %>
              </p>
            </div>

            <div class="buttons">
              <%= link_to "Ver esta oferta", job_offer, class: "button is-link" %>
              <!-- Mostrar 'Postulado' si el usuario ya ha postulado a esta oferta -->
              <% if current_user.job_applications.exists?(job_offer: job_offer) %>
                <span class="tag is-success">Postulado</span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>




